/* 
    Created on : 04.12.2018, 17:43:57
    Author     : Matti J. Frind
*/

.default-color0.chart-series-line { -fx-stroke: rgba(66, 165, 245, 0.3)} /* blue */
.default-color1.chart-series-line { -fx-stroke: rgba(239, 83, 80, 0.3)} /* red */
.default-color2.chart-series-line { -fx-stroke: rgba(0, 137, 123, 0.3)} /* teal */
.default-color3.chart-series-line { -fx-stroke: rgba(245,124,0, 0.3)} /* orange */
.default-color4.chart-series-line { -fx-stroke: rgba(40,53,147, 0.3)} /* dark blue */

.default-color0.chart-line-symbol { 
    -fx-background-color: transparent, rgb(66, 165, 245); 
}
.default-color1.chart-line-symbol { 
    -fx-background-color: transparent, rgb(239, 83, 80); 
}
.default-color2.chart-line-symbol { 
    -fx-background-color: transparent, rgb(0, 137, 123); 
}
.default-color3.chart-line-symbol { 
    -fx-background-color: transparent, rgb(245,124,0); 
}
.default-color4.chart-line-symbol { 
    -fx-background-color: transparent, rgb(40,53,147); 
}